In [1]:
import pandas as pd

In [5]:
url = "Median Household Income By Zip Code in Los Angeles County, California.html"
dfs = pd.read_html(url)
df_income = dfs[0]

In [6]:
df_census = pd.read_csv("2010-census-populations-by-zip-code.csv")
df_census.head()

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
0,91371,1,73.5,0,1,1,1.00
1,90001,57110,26.6,28468,28642,12971,4.40
2,90002,51223,25.5,24876,26347,11731,4.36
3,90003,66266,26.3,32631,33635,15642,4.22
4,90004,62180,34.8,31302,30878,22547,2.73

In [8]:
merged_data = df_census.join(df_income.set_index('Zip Code'), on='Zip Code')

In [9]:
dataset = merged_data[merged_data['Estimated Median Income'].notna()]
dataset.head()

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size,Community,Estimated Median Income
1,90001,57110,26.6,28468,28642,12971,4.40,"Los Angeles (South Los Angeles), Florence-Graham","$43,360"
2,90002,51223,25.5,24876,26347,11731,4.36,"Los Angeles (Southeast Los Angeles, Watts)","$37,285"
3,90003,66266,26.3,32631,33635,15642,4.22,"Los Angeles (South Los Angeles, Southeast Los ...","$40,598"
4,90004,62180,34.8,31302,30878,22547,2.73,"Los Angeles (Hancock Park, Rampart Village, Vi...","$49,675"
5,90005,37681,33.9,19299,18382,15044,2.50,"Los Angeles (Hancock Park, Koreatown, Wilshire...","$38,491"

In [10]:
dataset.shape

(282, 9)

In [14]:
geodata = pd.read_csv("us-zip-code-latitude-and-longitude.csv", sep=';')
geodata.head()

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,38732,Cleveland,MS,33.749149,-90.71329,-6,1,"33.749149,-90.71329"
1,47872,Rockville,IN,39.758142,-87.17540,-5,0,"39.758142,-87.1754"
2,50049,Chariton,IA,41.028910,-93.29857,-6,1,"41.02891,-93.29857"
3,48463,Otisville,MI,43.167457,-83.52542,-5,1,"43.167457,-83.52542"
4,51063,Whiting,IA,42.137272,-96.16648,-6,1,"42.137272,-96.16648"

In [15]:
dataset_geo = dataset.join(geodata.set_index('Zip'), on='Zip Code', how='left')
dataset_geo.head()

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size,Community,Estimated Median Income,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
1,90001,57110,26.6,28468,28642,12971,4.40,"Los Angeles (South Los Angeles), Florence-Graham","$43,360",Los Angeles,CA,33.972914,-118.24878,-8.0,1.0,"33.972914,-118.24878"
2,90002,51223,25.5,24876,26347,11731,4.36,"Los Angeles (Southeast Los Angeles, Watts)","$37,285",Los Angeles,CA,33.948315,-118.24845,-8.0,1.0,"33.948315,-118.24845"
3,90003,66266,26.3,32631,33635,15642,4.22,"Los Angeles (South Los Angeles, Southeast Los ...","$40,598",Los Angeles,CA,33.962714,-118.27600,-8.0,1.0,"33.962714,-118.276"
4,90004,62180,34.8,31302,30878,22547,2.73,"Los Angeles (Hancock Park, Rampart Village, Vi...","$49,675",Los Angeles,CA,34.077110,-118.30755,-8.0,1.0,"34.07711,-118.30755"
5,90005,37681,33.9,19299,18382,15044,2.50,"Los Angeles (Hancock Park, Koreatown, Wilshire...","$38,491",Los Angeles,CA,34.058911,-118.30848,-8.0,1.0,"34.058911,-118.30848"

In [17]:
dataset_geo.drop(columns=[
  'State', 'Timezone', 'Daylight savings time flag', 'geopoint'],
  inplace = True)
dataset_geo.head()

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size,Community,Estimated Median Income,City,Latitude,Longitude
1,90001,57110,26.6,28468,28642,12971,4.40,"Los Angeles (South Los Angeles), Florence-Graham","$43,360",Los Angeles,33.972914,-118.24878
2,90002,51223,25.5,24876,26347,11731,4.36,"Los Angeles (Southeast Los Angeles, Watts)","$37,285",Los Angeles,33.948315,-118.24845
3,90003,66266,26.3,32631,33635,15642,4.22,"Los Angeles (South Los Angeles, Southeast Los ...","$40,598",Los Angeles,33.962714,-118.27600
4,90004,62180,34.8,31302,30878,22547,2.73,"Los Angeles (Hancock Park, Rampart Village, Vi...","$49,675",Los Angeles,34.077110,-118.30755
5,90005,37681,33.9,19299,18382,15044,2.50,"Los Angeles (Hancock Park, Koreatown, Wilshire...","$38,491",Los Angeles,34.058911,-118.30848

In [22]:
prepared_ds = dataset_geo[[
  "Zip Code", "City", "Community", "Estimated Median Income",
  "Longitude", "Latitude", "Total Population", "Median Age",
  "Total Males", "Total Females", "Total Households",
  "Average Household Size"]]
prepared_ds.head(15)

,Zip Code,City,Community,Estimated Median Income,Longitude,Latitude,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
1,90001,Los Angeles,"Los Angeles (South Los Angeles), Florence-Graham","$43,360",-118.24878,33.972914,57110,26.6,28468,28642,12971,4.40
2,90002,Los Angeles,"Los Angeles (Southeast Los Angeles, Watts)","$37,285",-118.24845,33.948315,51223,25.5,24876,26347,11731,4.36
3,90003,Los Angeles,"Los Angeles (South Los Angeles, Southeast Los ...","$40,598",-118.27600,33.962714,66266,26.3,32631,33635,15642,4.22
4,90004,Los Angeles,"Los Angeles (Hancock Park, Rampart Village, Vi...","$49,675",-118.30755,34.077110,62180,34.8,31302,30878,22547,2.73
5,90005,Los Angeles,"Los Angeles (Hancock Park, Koreatown, Wilshire...","$38,491",-118.30848,34.058911,37681,33.9,19299,18382,15044,2.50
6,90006,Los Angeles,"Los Angeles (Byzantine-Latino Quarter, Harvard...","$37,072",-118.29430,34.048351,59185,32.4,30254,28931,18617,3.13
7,90007,Los Angeles,"Los Angeles (Southeast Los Angeles, Univerity ...","$27,406",-118.28290,34.026448,40920,24.0,20915,20005,11944,3.00
8,90008,Los Angeles,"Los Angeles (Baldwin Hills, Crenshaw, Leimert ...","$43,364",-118.33705,34.009754,32327,39.7,14477,17850,13841,2.33
9,90010,Los Angeles,"Los Angeles (Hancock Park, Wilshire Center, Wi...","$63,112",-118.31481,34.062709,3800,37.8,1874,1926,2014,1.87
10,90011,Los Angeles,Los Angeles (Southeast Los Angeles),"$40,940",-118.25868,34.007063,103892,26.2,52794,51098,22168,4.67
11,90012,Los Angeles,"Los Angeles (Downtown Civic Center, Chinatown,...","$47,027",-118.23944,34.061611,31103,36.3,19493,11610,10327,2.12
12,90013,Los Angeles,"Los Angeles (Downtown Central, Downtown Fashio...","$22,316",-118.24255,34.044662,11772,44.6,7629,4143,6416,1.26
13,90014,Los Angeles,"Los Angeles (Downtown Historic Core, Arts Dist...","$40,641",-118.25193,34.042912,7005,44.8,4471,2534,4109,1.34
14,90015,Los Angeles,"Los Angeles (Dowtown Fashion District, South P...","$43,890",-118.26516,34.038993,18986,31.3,9833,9153,7420,2.45
15,90016,Los Angeles,Los Angeles (West Adams),"$48,715",-118.35255,34.029711,47596,33.9,22778,24818,16145,2.93

In [24]:
import foursquare
import requests
CLIENT_ID = foursquare.CLIENT_ID
CLIENT_SECRET = foursquare.CLIENT_SECRET
VERSION = '20180605' # Foursquare API version
LIMIT = 100 # A default Foursquare API limit value

In [31]:
record = prepared_ds.iloc[0]

In [73]:
# create the API request URL
url = 'https://api.foursquare' \
      '.com/v2/venues/search?&client_id={}&client_secret={}&v={}&ll={},' \
      '{}&radius={}&limit={}&categoryId={}'.format(
    CLIENT_ID,
    CLIENT_SECRET,
    VERSION,
    record['Latitude'],
    record['Longitude'],
    1200,
    LIMIT,
    '4d4b7105d754a06374d81259')

print(url)

# make the GET request
results = requests.get(url).json()["response"]['venues']

venues_list=[]


venues_list.append([(
            record['Zip Code'],
            record['Community'],
            record['Latitude'],
            record['Longitude'],
            v['name'],
            # v['venue']['location']['lat'],
            # v['venue']['location']['lng'],
            v['categories'][0]['name']) for v in results])

nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
nearby_venues.columns = ['Zip Code',
                         'Community',
              'Zip Code Latitude',
              'Zip Code Longitude',
              'Venue',
              # 'Venue Latitude',
              # 'Venue Longitude',
              'Venue Category']
nearby_venues

https://api.foursquare.com/v2/venues/search?&client_id=R5KIOQJIXBTMSGBL0D3T3UCTJSMHLM5JWK15ZXEVRABUHMT1&client_secret=V0PEZI5UQCNYEZH4COTUAWSR3JF0VYCQIEAUEIGQTKO4IBSX&v=20180605&ll=33.972914,-118.24878&radius=1200&limit=100&categoryId=4d4b7105d754a06374d81259

,Zip Code,Community,Zip Code Latitude,Zip Code Longitude,Venue,Venue Category
0,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Emy Burgers,Food
1,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Pancho's Bakery,Bakery
2,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Jack in the Box,Fast Food Restaurant
3,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Carl's Jr.,Fast Food Restaurant
4,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Burger King,Fast Food Restaurant
5,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Starbucks,Coffee Shop
6,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Taqueria Rosy,Mexican Restaurant
7,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,La Pizza Loca,Pizza Place
8,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Andy's burgers,Burger Joint
9,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,All Star Fish Market,American Restaurant
10,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,La Casa De La Birria,Mexican Restaurant
11,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Juice Bar,Ice Cream Shop
12,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Tacos La Pely #2,Taco Place
13,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Carnitas Ebenzer,Food Truck
14,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Tacos De Birria El Guero,Mexican Restaurant
15,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Hola Donuts,Bakery
16,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,O.K. Donuts,Donut Shop
17,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,El Senor Taco,Mexican Restaurant
18,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Rogers Poultry,Fried Chicken Joint
19,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Pupuseria Las Champas,Seafood Restaurant
20,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Tam's Burger,Burger Joint
21,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Tacos El Unico,Mexican Restaurant
22,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Nay's Tacos Inc,Food Truck
23,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,mi tierra bakery,Bakery
24,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Happy Donut,Donut Shop
25,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Mi Lindo Nayarit Mariscos,Mexican Restaurant
26,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Menchie's,Frozen Yogurt Shop
27,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,Mi Lindo Nayarit,Seafood Restaurant
28,90001,"Los Angeles (South Los Angeles), Florence-Graham",33.972914,-118.24878,WINCHELL'S DONUT HOUSE,Donut Shop

In [74]:
nearby_venues.shape

(29, 6)

In [75]:
# url = 'https://api.foursquare' \
#       '.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},' \
#       '{}&radius={}&limit={}&categoryId={}'.format(
#     CLIENT_ID,
#     CLIENT_SECRET,
#     VERSION,
#     record['Latitude'],
#     record['Longitude'],
#     1200,
#     LIMIT,
#     '4d4b7105d754a06374d81259')
#
# print(url)
#
# # make the GET request
# results2 = requests.get(url).json()["response"]['groups'][0]['items']['venue']
#
# venues_list=[]
#
# venues_list=[]
#
# for v in results:
#   try:
#     rating = v['venue']['rating']
#   except:
#     rating = 'Not rated',
#
#     venues_list.append([(
#         record['Zip Code'],
#         record['Community'],
#         record['Latitude'],
#         record['Longitude'],
#         v['venue']['name'],
#         # v['venue']['location']['lat'],
#         # v['venue']['location']['lng'],
#         v['venue']['categories'][0]['name'],
#         rating
#     ) ])
#
# venues_list
# nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
# nearby_venues.columns = ['Zip Code',
#                          'Community',
#               'Zip Code Latitude',
#               'Zip Code Longitude',
#               'Venue',
#               # 'Venue Latitude',
#               # 'Venue Longitude',
#               'Venue Category',
#               'Rating']
# nearby_venues

In [113]:
df = nearby_venues[['Venue Category', 'Zip Code']]
df_grouped = df.groupby('Venue Category').agg(['mean', 'count'])
df_sorted = df_grouped.sort_values(by=[('Zip Code','count')], ascending=False)
#df_grouped.sort_values(by='count')
df_sorted
#df.groupby('Venue Category').agg(['mean', 'count'])
#df

                     Zip Code
                         mean count
Venue Category
Mexican Restaurant      90001     6
Bakery                  90001     3
Donut Shop              90001     3
Fast Food Restaurant    90001     3
Burger Joint            90001     2
Food Truck              90001     2
Seafood Restaurant      90001     2
American Restaurant     90001     1
Coffee Shop             90001     1
Food                    90001     1
Fried Chicken Joint     90001     1
Frozen Yogurt Shop      90001     1
Ice Cream Shop          90001     1
Pizza Place             90001     1
Taco Place              90001     1