In [1]:
import foursquare
import pandas as pd
import requests
CLIENT_ID = foursquare.CLIENT_ID
CLIENT_SECRET = foursquare.CLIENT_SECRET
ACCESS_TOKEN = foursquare.ACCESS_TOKEN
VERSION = '20210501' # Foursquare API version
LIMIT = 100 # A default Four

In [2]:
cluster4 = pd.read_csv('cluster4.csv', index_col=0)
cluster4.reset_index(drop = True, inplace=True)
record = cluster4.iloc[10]

In [3]:
url = 'https://api.foursquare' \
      '.com/v2/venues/explore?client_id={}&client_secret={}&ll={},' \
      '{}&oauth_token={}&v={}&radius={}&limit={}&categoryId={}'.format(
    CLIENT_ID, CLIENT_SECRET, record['Latitude'], record['Longitude'],
    ACCESS_TOKEN, VERSION, 2300, LIMIT, '4d4b7105d754a06374d81259')

# make the GET request
results = requests.get(url).json()["response"]['groups'][0]['items']
venues_list=[]

for v in results:
  try:
    rating = v['venue']['rating']
  except:
    rating = 'Not rated',

    venues_list.append([(
        record['Zip Code'],
        record['Community'],
        record['Latitude'],
        record['Longitude'],
        v['venue']['name'],
        # v['venue']['location']['lat'],
        # v['venue']['location']['lng'],
        v['venue']['categories'][0]['name'],
        rating
    ) ])

    venues_list
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Zip Code',
                             'Community',
                  'Zip Code Latitude',
                  'Zip Code Longitude',
                  'Venue',
                  # 'Venue Latitude',
                  # 'Venue Longitude',
                  'Venue Category',
                  'Rating']
nearby_venues

,Zip Code,Community,Zip Code Latitude,Zip Code Longitude,Venue,Venue Category,Rating
0,90650,Norwalk,33.906914,-118.08339,In-N-Out Burger,Fast Food Restaurant,"(Not rated,)"
1,90650,Norwalk,33.906914,-118.08339,Douglas Charbroiled Burgers,American Restaurant,"(Not rated,)"
2,90650,Norwalk,33.906914,-118.08339,Los Compadres Mexican Restaurant & Sports Bar,Mexican Restaurant,"(Not rated,)"
3,90650,Norwalk,33.906914,-118.08339,Noemi's Mexican Food,Mexican Restaurant,"(Not rated,)"
4,90650,Norwalk,33.906914,-118.08339,Tacos Los Gueros,Mexican Restaurant,"(Not rated,)"
...,...,...,...,...,...,...,...
95,90650,Norwalk,33.906914,-118.08339,La Pizza Loca,Pizza Place,"(Not rated,)"
96,90650,Norwalk,33.906914,-118.08339,Jack in the Box,Fast Food Restaurant,"(Not rated,)"
97,90650,Norwalk,33.906914,-118.08339,SUBWAY,Sandwich Place,"(Not rated,)"
98,90650,Norwalk,33.906914,-118.08339,Pizza Hut Express,Pizza Place,"(Not rated,)"
99,90650,Norwalk,33.906914,-118.08339,Pho Ten 2 Nine,Vietnamese Restaurant,"(Not rated,)"

In [4]:
nearby_venues

NameError: name 'nearby_venues' is not defined